.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.page-exit {
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
}

html {
    font-family: 'Roboto', sans-serif;
}

.main {
    width: 100%;
    height: auto;
}

/* nav bar */

.nav-bar {
    position: absolute;
    width: 150px;
    height: 100%;
    top: 0;
    left: 0;
}

.nav-container {
    width: 100%;
    height: 100%;
    background: #191718;
}

.nav-bar ul {
    margin: 0;
    padding: 0;
}

.nav-bar ul li {
    list-style: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 12px 5px;
    border-bottom: 1px solid #5C5C5C;
}

.nav-bar ul li:hover {
    background-color: #5C5C5C;
}

/* web content */

.web-content {
    width: calc(100% - 150px);
    height: 100vh;
    position: relative;
    right: 0;
    top: 0;
    float: right;
}

.web-content .container {
    padding-bottom: 32px;
}

.brand {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.brand img {
    width: 220px;
}

.introduce {
    width: 100%;
    height: auto;
    background: #EFEFEF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduce b{
    text-align: center;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 21px;
    color: #000000;
    padding: 18px 0;
}

.introduce p{
    width: 80%;
    font-weight: 400;
    font-size: .9rem;
    line-height: 16px;
    text-align: center;
    padding-bottom: 18px;
}

/* show-case */

.show-case {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    margin-left: -18px;
    margin-right: -18px;
}

.show-card {
    padding: 0 18px;
}

.show-card b {
    text-align: center;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 21px;
    color: #000000;
    position: relative;
}

.show-content {
    padding-top: 15px;
}

.show-content img {
    float: left;
}

.show-content p {
    display: inline;
    font-size: .85rem;
}

/* footer */

.footer {
    position: absolute;
    height: 60px;
    width: 100%;
    bottom: 0;
    right: 0;
    border-top: 1px solid #DEDEDE;
    display: flex;
    align-items: center;
}

.footer p {
    padding-left: 50px;
    line-height: 1;
    margin: 0;
    font-size: .9rem;
}

@media screen and (min-width: 768px) and (max-width: 992px){
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {

    html {
        font-size: 12px;
    }

    body::-webkit-scrollbar {
        display: none;
    }
    
    .nav-bar {
        width: 25%;
    }

    .nav-bar ul li {
        font-size: 12px;
        line-height: 19px;
        padding: 12px 5px;
    }

    /* web content */

    .web-content {
        width: 75%;
    }

    .brand img {
        width: 150px;
    }

    /* show-case */

    .show-case {
        flex-direction: column;
        padding-top: 20px;
        margin-left: -18px;
        margin-right: -18px;
    }
}

@media screen and (max-width: 576px) {
    html {
        font-size: 9px;
    }

    .main {
        overflow: scroll;
    }

    .web-content {
        height: 100%;
    }

    .footer {
        position: relative;
        bottom: 0;
    }

    .footer p{
        padding-left: 15px;
    }
}
